*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*phần đầu trang*/

.mainshop
{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(224, 224, 224);
    padding: 10px 0px;
    /*heigth  60px*/
}
/* <!-- phần chứ thông tin khách hàng --> */
.dieuhuong ul li
{
   
    display: inline-flex;
    font-size: 20px;
    padding: 8px 12px;
    font-weight: 600;
    height: 40px;
    margin-right: 20px;
}
.dieuhuong a
{
    text-decoration: none;
    color: black;
}
.dieuhuong a:hover
{
    color: red;
    transition: 0.75s;
}
/* <!-- phần tài khoản của khách --> */

#user
{
    position: relative;
}
#user:hover #usermenu
{
    display: block;
    transition: 0.25s;
}
#usermenu
{
    background-color: whitesmoke; 
    position: absolute;
    margin-left: 0;
    top:100%;
    right: 0;
    border-radius: 3px;
    padding: 10px ;
    box-shadow: 0px 1px 2px #b4b0b0;
    display: none;
}
#usermenu::before
{
    content: "";
    border-width: 20px 27px ;
    border-style: solid;
    border-color: transparent transparent whitesmoke transparent ;
    position: absolute;
    right: 4px;
    top: -29px;
}
#useritem a
{
   font-weight: 300;
   font-size: 16px;
  
}
#useritem a:hover
{
  color: #fafafa;
  background-color: #554f4f;
  border-radius: 4px;
}
#user img
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    right: 140px;
}
/* <!-- phần giới tính khách --> */
.doituong ul li
{
   
    display: inline-flex;
    font-size: 20px;
    padding: 8px 12px;
    font-weight: 600;
}
.doituong a
{
    text-decoration: none;
    color: black;
}
.doituong a:hover
{
    color: red;
    transition: 0.75s;
}
  /* tên shop */
.name
{
    font-size: 25px;
    margin-left: 290px;
}
/* <!-- phần menu lựa chọn --> */
.menumain
{
    display: flex;
    border-bottom: 1px solid rgb(224, 224, 224);
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
.menumain ul li
{
    list-style: none;
    display: inline-block;
    padding: 12px 15px;
    position: relative;
}
.menumain a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.menumain a:hover
{
    color: red;
    transition: 0.75s;
}
/* <!-- thanh tìm kiếm --> */
.menuseach
{
    margin-right: 50px;
   
}
.menuseach input
{ 
    font-size: 15px;
    padding: 5px 20px;
}
.menuseach a
{   margin-left: 5px;
    font-size: 20px;
}
.tieude
{   margin-top: 0px;
    background-image:linear-gradient(rgba(0,0,0,0.2)50%,rgba(0,0,0,0.2)),url(../imageweb/spsale1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.tieude h3
{   
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-left: 550px;
    margin-top: 140px;
    font-weight: 800;
    color: aliceblue;
}
.mainsale
{
    display: flex;
}
.luachon
{
    width: 20%;
    margin-top: 20px;
    font-size: 20px;
    list-style: none;
    border-right: 1px solid rgba(54, 54, 54,0.7);
}
.luachon h4
{
    text-align: center;
    font-size: 30px;
}
#sale
{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 30px;
   
}
.luachon li
{
    margin-top: 20px;
}
.luachon p
{
    margin-left: 30px;
    font-weight: 300;
    color: rgba(54, 54, 54,0.7);
}
.luachon a
{
    text-decoration: none;
    color: rgba(54, 54, 54,0.7);
}
.sanphammoi
{
    display: flex;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
    
    
}
.hinhsanpham
{
    
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 80%;
     width: 23%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.colorbutton
{
       height: 381px;
       width: 290px;   
       opacity: 0; 

}
.colorbutton a
{   
    position: absolute;
    margin-left: 100px;
    margin-top: 140px;
    padding: 10px 15px;    
    text-decoration: none;
    font-weight: 600;
    border: 1px solid black;
    color: black;
    background-color: aliceblue;
}
.colorbutton:hover
{
    background-color: rgba(8, 8, 8, 0.534);
    opacity: 1;
    cursor: pointer;
    
    
}
.colorbutton a:hover
{   
    border: 1px solid whitesmoke;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    
}

.hinhsanpham img
{
    margin-top: -50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.giasp 
{
    display: flex;
}
.tensp 
{
   position: absolute;
   margin-top: 10px;
    text-align: center;
    margin-left: 15px;
}
.tensp h4 
{
    margin-left: 40px;
}
.giasp
{
    margin-top: 5px;
   
}
.giaold
{
    text-decoration: line-through;
}
.gianew
{
    color: red;
}
/* <!-- Footer--> */
.footer
{   margin-top: 80px;
    background-color: black;
    color: aliceblue;
    display: flex;
}
#namefooter
{
    
     font-size: 30px;
}
.thongtinfooter
{
    padding: 40px;
    width: 25%;
}
.thongtinfooter p
{
    font-size: 15px;
    color: whitesmoke;
     text-align: left;
}
.thongtinfooter img
{
    height: 50px;
    width: 150px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bankinh
{   
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
}
#dowload
{
    font-size: 30px;
}
.thongtindowload
{
         margin-top: 45px;
         margin-right: 20px;
}
.thongtindowload p
{
    text-align: left;
    color: rgba(155, 145, 145, 0.534);
}
.thongtindowload img
{
    height: 50px;
    width: 150px;
}
a
{
    text-decoration: none;
    color: black;
}
.copyright
{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid white;
}