*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*phần đầu trang*/

.mainshop
{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(224, 224, 224);
    padding: 10px 0px;
    /*heigth  60px*/
}
/* <!-- phần chứ thông tin khách hàng --> */
.dieuhuong ul li
{
   
    display: inline-flex;
    font-size: 20px;
    padding: 8px 12px;
    font-weight: 600;
    height: 40px;
    margin-right: 20px;
}
.dieuhuong a
{
    text-decoration: none;
    color: black;
}
.dieuhuong a:hover
{
    color: red;
    transition: 0.75s;
}
/* <!-- phần tài khoản của khách --> */

#user
{
    position: relative;
}
#user:hover #usermenu
{
    display: block;
    transition: 0.25s;
}
#usermenu
{
    background-color: whitesmoke; 
    position: absolute;
    margin-left: 0;
    top:100%;
    right: 0;
    border-radius: 3px;
    padding: 10px ;
    box-shadow: 0px 1px 2px #b4b0b0;
    display: none;
}
#usermenu::before
{
    content: "";
    border-width: 20px 27px ;
    border-style: solid;
    border-color: transparent transparent whitesmoke transparent ;
    position: absolute;
    right: 4px;
    top: -29px;
}
#useritem a
{
   font-weight: 300;
   font-size: 16px;
  
}
#useritem a:hover
{
  color: #fafafa;
  background-color: #554f4f;
  border-radius: 4px;
}
#user img
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    right: 140px;
}
/* <!-- phần giới tính khách --> */
.doituong ul li
{
   
    display: inline-flex;
    font-size: 20px;
    padding: 8px 12px;
    font-weight: 600;
}
.doituong a
{
    text-decoration: none;
    color: black;
}
.doituong a:hover
{
    color: red;
    transition: 0.75s;
}
  /* tên shop */
.name
{
    font-size: 25px;
    margin-left: 290px;
}
/* <!-- phần menu lựa chọn --> */
.menumain
{
    display: flex;
    border-bottom: 1px solid rgb(224, 224, 224);
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
.menumain ul li
{
    list-style: none;
    display: inline-block;
    padding: 12px 15px;
    position: relative;
}
.menumain a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.menumain a:hover
{
    color: red;
    transition: 0.75s;
}
/* <!-- thanh tìm kiếm --> */
.menuseach
{
    margin-right: 50px;
   
}
.menuseach input
{ 
    font-size: 15px;
    padding: 5px 20px;
    width: 250px;
}
.menuseach a
{   margin-left: 5px;
    font-size: 20px;
}


.footer
{   margin-top: 80px;
    background-color: black;
    color: aliceblue;
    display: flex;
}
#namefooter
{
    
     font-size: 30px;
}
.thongtinfooter
{
    padding: 40px;
    width: 25%;
}
.thongtinfooter p
{
    font-size: 15px;
    color: whitesmoke;
     text-align: left;
}
.thongtinfooter img
{
    height: 50px;
    width: 150px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bankinh
{   
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
}
#dowload
{
    font-size: 30px;
}
.thongtindowload
{
         margin-top: 45px;
         margin-right: 20px;
}
.thongtindowload p
{
    text-align: left;
    color: rgba(155, 145, 145, 0.534);
}
.thongtindowload img
{
    height: 50px;
    width: 150px;
}
a
{
    text-decoration: none;
    color: black;
}
.copyright
{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid white;
}
/* sản phẩm */
.sanphammoi
{
    display: flex;
    width: 100%;
    height: 500px;
    
    
}
.hinhsanpham
{
    
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 80%;
     width: 23%;
    margin-left: 25px;
}

.colorbutton
{
       height: 381px;
       width: 348px;   
       opacity: 0; 

}
.colorbutton a
{   
    position: absolute;
    margin-left: 122px;
    margin-top: 140px;
    padding: 10px 15px;    
    text-decoration: none;
    font-weight: 600;
    border: 1px solid black;
    color: black;
    background-color: aliceblue;
}
.colorbutton:hover
{
    background-color: rgba(8, 8, 8, 0.534);
    opacity: 1;
    cursor: pointer;
    
    
}
.colorbutton a:hover
{   
    border: 1px solid whitesmoke;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    
}

.hinhsanpham img
{
    margin-top: -50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.giasp 
{
    display: flex;
}
.tensp 
{
   position: absolute;
   margin-top: 10px;
    text-align: center;
    margin-left: 15px;
}
.tensp h4 
{
    margin-left: 40px;
}
.giasp
{
    margin-top: 5px;
   
}
.giaold
{
    text-decoration: line-through;
}
.gianew
{
    color: red;
}
#sanphamtuongtu
{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mainsanpham
{
    display: flex;
    height: 800px;
    width: 100%;
}

.imagesanpham
{
    height: 800px;
    width: 70%;
    margin-left: 100px;
    display: flex;
}
.anhminhhoa
{
    height: 100%;
    width: 20%;
    display: block;
}
.anh1
{
    height: 255px;
    width: 100% ;
    margin-bottom: 5px;
}
.anh1 img
{
    height: 100%;
    width: 100%;
}
.anh2
{   margin-top: 20px;
    height: 255px;
    width: 100% ;
    margin-bottom: 5px;
}
.anh2 img
{
    height: 100%;
    width: 100%;
}
.anh3
{   margin-top: 20px;
    height: 255px;
    width: 100% ;
}
.anh3 img
{
    height: 100%;
    width: 100%;
}
.mainimagesanpham
{
    width: 60%;
    height: 806px;
    margin-left: 20px;
}
.imagesanpham img
{
   height: 100%;
   width: 100%;
}
.thongtinsanpham
{
    
    margin-right: 100px;
    
}
.thongtinsanpham h3
{
    margin-bottom: 20px;
    font-size: 25px;
}
.thongtinsanpham p
{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
    flex-wrap: wrap;
}
.thongtinsanpham a
{
    padding: 10px 30px;
    background-color: black;
    color: whitesmoke;
    display: block;
    font-size: 18px;
    text-align: center;
}
#themvaogio
{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.bunton
{
    margin-top: 40px;
}
.bunton a
{   
    padding: 10px 30px;
    background-color: black;
    color: whitesmoke;
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
.binhluan
{
    display: flex;
    width: 100%;
    height: 400px;
}
.mainbinhluan
{
    height: 100%;
    width: 31%;
    padding: 10px 15px;
    background-color: rgb(248, 245, 245);
    margin-left: 27px;
    border-top-right-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
     
}
.mainbinhluan:hover
{
    transform: translateY(-10px);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}
.mainbinhluan p
{
    font-size: 20px;
}
.userimg
{
    text-align: center;
    margin-top: 20px;
}

.userimg img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
   
}
.danhgia
{
    font-size: 20px;
    margin-left: 15px;
    color: orange;
}
h3
{
    text-align: center;
}
#giatiensp
{
    text-align: left;
}
select
{
    padding: 10px;
    border: 1.5px solid black;
    margin-bottom: 10px;
}
input
{
    padding: 10px;
    border: 1.5px solid black;
    margin-left: 5px;
    width: 60px;
   
}
.navmenu a
{
    font-size: 20px;
}
.duongdan
{
    border-bottom: 1px solid rgb(224, 224, 224);
}
.duongdan a
{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(75, 69, 69);
}